version: '3'
services:
  web:
    build: .
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
networks:
  default:
    external:
      name: apple-music-server_shared
